<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <title> Meu Portifólio </title>
</head>

<body>
    <aside id=header>
        <section class="profile">
            <img src="../static/images/" alt="Minha Foto">
            <h1>Hello, Raphael Abade!</h1>
            <div class="social-links mt-4 text-center">...</div>
        </section>
        <nav id="navbar" class"nav-menu">...
        </nav>
    </aside>
    <script src="../static/bootstrap/javascript/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>